
@{
    ViewBag.Title = "UploadFile";
}

@{
        <div class="success">
            <h2> @ViewBag.Message </h2>@Html.ActionLink("Back to DocumentViewer", "Index", "Drive", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <br />
}




